<!-- This page shows the results for the 1 player game and offers replay -->

{% extends "base.html" %}

{% block content %}
<a href="/game" class="site_link">Back to rules</a>

<article class="result">
    <h2 class="box">{{ game_result }}</h2>
</article>

{% include "history.html" %}
        
<article>
    <form action="/play/fight" method="post" class="game_form">
        
        {% include "p1_form.html" %}
        
        <input type="submit" value="Fight!">
    </form>
</article>

{% endblock %}