{% extends "base.html" %}

{% block content %}
<a href="/game" class="site_link">Back to rules</a>
<article class="result">
    <h2>{{ game_result }}</h2>
</article>

        <article class="history">
            <header>
                <h3>History</h3>
            </header>
            <div>
                {% for result in results %}
                    <ul>
                        <li> {{ result }} </li>
                    </ul>
                {% endfor %}
            </div>
        </article>


{% endblock %}