<!-- This page presents the rules of the game -->

<article class="rules">
    <div class="box">
        <header>
            <h3>What are the rules?</h3>
        </header>
    
        <p>It's a two player game. Each player chooses either rock, paper or scissors. </p>
        <p>Make your choices and click 'Fight!'</p>
        <ul>
            <li id="rules_scissors">
                <p>Scissors beats paper</p>
            </li>
            <li id="rules_rock">
                <p>Rock beats scissors</p>
            </li>
            <li id="rules_paper">
                <p>Paper beats rock</p>
            </li>
        </ul>
    </div>
    <aside>
        <div id="pic_scissors"></div>
        <div id="pic_rock"></div>
        <div id="pic_paper"></div>
    </aside>
</article>
<article>